
.page-layout {
  display: grid;
  grid-template-columns: minmax(0,1fr);
  grid-template-rows: min-content min-content 1fr min-content;
  margin: 0;
  margin-inline: auto;
  min-height: 100svh;
}

/* Header */
.page-layout_header {
    position:sticky;
    top: 0;
    z-index: 100;
    background-color: rgb(26, 17, 14);
    font-family: sans-serif;
    border-style: solid;
    border-width: 3px 0 0 0;
    border-color: darkorange;
}

.navigation {
    align-items: center;
    column-gap: 1rem;
    display: grid;
    grid-template-columns: min-content 1fr min-content min-content;
    height: 7.125rem;
    justify-items: center;
    padding-block: .75rem;
}

.navigation_logo {
    margin-inline-start: 25px;
}

.navigation_popup {
    display: contents;
    font-size: large;
    font-weight: bold;
  }

.menu, .menu_tab-button, .menu_tab-link {
    align-items: center;
    display: flex;
    text-decoration: none;
    padding: 5px;
}
.menu_tab-link {
    color: white;
    transition: 0s;
}
.menu_tab-link:hover {
    color: darkorange;
}

.menu_tab {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px; 
    position:relative;
}
.menu_tab:hover .menu_tab-sub {
    display: block;
}

.menu_tab-sub{
    font-size: 14px;
    position: absolute;
    color:white;
    background-color: rgb(26, 17, 14);
    min-width: 225px;
    display: none;
}

.menu_tab-sub-item{
    padding: 15px;
    display: block;
  text-decoration: none;
  color: white;
}
.menu_tab-sub-item:hover{
    background-color: black;
    color: darkorange;
    transition: 0.3s;
}

.widget-left{
    position: fixed;
    width: 54px;
    height: 54px;
    color: white;
    background-color: #03e78b;
    bottom: 20px;
    left: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    padding: 10px;
}
.widget-right{
    position: fixed;
    width: 54px;
    height: 54px;
    color: white;
    background-color: #03e78b;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 40px;
    padding-top: 5px;
}

/* Footer */
footer {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 15px;
    background-color: rgb(26, 17, 14);
    border-style: solid;
    border-width: 3px 0 0 0;
    border-color: darkorange;
    flex-wrap: wrap;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer-content{
    margin: 60px;
}

.footer-divider_horizontal{
    margin: 20px auto;
    display: flex;
}

.footer-divider_vertical{
    margin: 0 20px;
    width: 30%;
}

.footer-item{
    align-items: center;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    padding-bottom: 5px;
}
.ourservice-icon{
    color: darkorange;
}
.footer-item-list{
    padding:10px;
    text-align: left;
}

.footer-bar1{
    background-color: white;
    height: 2px;
    width: 100px;
}

.footer-bar2{
    background-color: white;
    height: 1px;
    width: 80%;
    margin: auto;
}

.footer-map{
    width:30%
}

.footer-text-section{
    font-size: 25px;
    padding: 20px 0;
}

.footer-copyright{
    margin-bottom: 20px;
}

/* Main */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.home-layout-container {
  grid-template-columns: var(--layout-2-sidebars);
  grid-template-rows: min-content auto;
  justify-content: space-between;
  padding-inline: var(--layout-side-padding);
}

.section_one {
    align-items: center;
    text-align: center;
    font-weight: bold;
    padding: 125px;
    background-size: cover;
    background-position: center;
    color:#e8e6e6;
    text-shadow: 1px 1px black;
    animation-name: backgroundAnimation;
    animation-duration: 8s;
    animation-timing-function: cubic-bezier(.22,.61,.36,1);
    animation-iteration-count: infinite;
}

.section_one::content {
    margin-top: 50px;
    margin-bottom: 50px;
}

.section_one-item-first {
    font-size: 40px;
    padding-bottom: 15px;
}
.section_one-item-second {
    background-color: darkorange;
    height: 10px;
    width: 150px;
    margin: 0 auto;
}
.section_one-item-third {
    font-size: 25px;
    font-weight: lighter;
    padding-top: 25px;
    padding-bottom: 40px;
}

.section_two{
    align-items: center;
    text-align: center;
    font-weight: bold;
    padding: 125px;
    color: black;
}
.section_two-item-first{
    font-size: 40px;
    padding-bottom: 15px;
}
.section_two-item-second{
    font-size: 20px;
    font-weight: lighter;
    padding-top: 10px;
    padding-bottom: 15px;
}
.section_two-item-third{
    background-color: darkorange;
    height: 10px;
    width: 150px;
    margin: 15px auto;
    padding-bottom: 10px;
}

.section_two-media{
    padding: 10px;
}
.section_two-video{
    width: 380px;
    height: 213px;
    margin: 10px;
}

.section_third{
    padding: 50px;
    background-color: #e8e6e6;
}
.section_third-horizontal{
    padding: 20px auto;
}
.section_third-source{
    align-items: center;
}
.section_third-review-container{
    padding: 5px 10px;
}
.section_third-review{
    padding: 10px;
}

.section_fourth{
    color: white;
    height: 480px;
}
.section_fourth-container{
    padding: 0 80px;
    display: flex;
}
.section_fourth-left{
    height: 480px;
    width: 732px;
    background-size: cover;
    background-position: center;
    padding: 60px;
}
.section_fourth-right{
    height: 480px;
    width: 668px;
    position: relative;
    background-size: cover;
    background-position: center;
}
.section_fourth-right::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #19120B;
    opacity: 0.6;
}
.section_fourth-item-first{
    font-size: 42px;
    margin: 20px 0;
}
.section_fourth-item-second{
    height: 7px;
    width: 150px;
    background-color: darkorange;
    margin: 20px 0;
}
.section_fourth-item-third{
    font-size: 15px;
    margin: 20px 0;
}
.section_fourth-item-fourth{
    font-size: 15px;
    margin: 20px 0;
    margin-bottom: 50px;
}
.section_fourth-item-fifth{
    font-size: 15px;
    color: darkorange;
    border: 1px white solid;
    padding: 10px 30px;
    text-decoration: none;
    transition: 0.3s;
}
.section_fourth-item-fifth:hover{
    font-size: 17px;
    color: darkorange;
    border: 1px white solid;
    padding: 12px 32px;
    text-decoration: none;
}

.section_fifth{
    padding: 100px 60px;
    background-color: #e8e6e6;
}
.section_fifth-container{
    display: flex;
}
.section_fifth-left{
    height: 480px;
    width: 690px;
    background-size: cover;
    background-position: center;
    margin-left: 20px;
}
.section_fifth-right{
    height: 480px;
    width: 690px;
    padding:20px;
}
.section_fifth-item-first{
    color: darkorange;
    font-size: 26px;
    margin-bottom: 20px;
}
.section_fifth-item-second{
    color: dark;
    font-size: 40px;
    margin: 20px 0;
}

.section_fifth-item-third{
    font-size: 15px;
    margin: 20px 0;
}
.section_fifth-item-fourth{
    font-size: 15px;
    margin: 20px 0;
    margin-bottom: 30px;
}
.section_fifth-item-fifth{
    color: white;
    background-color: #B6621C;
    border: 1px white solid;
    box-shadow: 1px 1px 5px black;
    margin: 20px 0;
    padding: 10px 30px;
    text-decoration: none;
    position:relative;
    transition: 0.3s;
    top:20px;
}
.section_fifth-item-fifth:hover{
    top:15px;
}

.section_sixth{
    padding: 100px 60px;
}
.section_sixth-container{
    align-items: center;
}
.section_sixth-item-first{
    text-align: center;
    font-size: 44px;
}
.section_sixth-item-second{
    background-color: darkorange;
    height: 7px;
    width: 80px;
    margin: 0 auto;
}
.section_sixth-horizontal{
    display: flex;
    margin: 10px auto;
}
.section_sixth-box{
    align-items: center;
    text-align: center;
    width: 24%;
    height: 300px;
    background-size: cover;
    background-position: center;
    margin: 5px;
    transition: 1s;
    padding: 30px;
    position: relative;
}
.section_sixth-box::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(8, 6, 5);
    opacity: 0.7;
    transition: 0.3s;
}
.section_sixth-box-8{
    align-items: center;
    text-align: center;
    background-image: linear-gradient(to bottom, black, #B6621C);
    width: 24%;
    height: 300px;
    margin: 5px;
    padding: 30px;
}
.section_sixth-box:hover{
    background-position: top;
}
.section_sixth-icon{
    color: #B6621C;
    margin: 20px;
    padding: 15px;
    padding-bottom: 10px;
    font-size: 30px;
}
.section_sixth-textbox{
    color: white;
    font-size: 19px;
    margin: 20px;
    padding: 15px;
}
.section_sixth-learnmore{
    color: white;
    background-color: #B6621C;
    border: 1px white solid;
    padding: 10px 20px;
    transition: 0.5s;
    position: relative;
    top: 15px;
    text-decoration: none;
}
.section_sixth-learnmore:hover{
    top: 5px;
}

.section_seventh{
    padding: 100px 60px;
    background-color: #e8e6e6;
}
.section_seventh-container{
    align-items: center;
}
.section_seventh-item-first{
    text-align: center;
    font-size: 25px;
    color: darkorange;
}
.section_seventh-item-second{
    text-align: center;
    font-size: 40px;
    color: black;
    margin: 20px;
}
.section_seventh-item-third{
    background-color: darkorange;
    height: 7px;
    width: 80px;
    margin: 0 auto;
}
.section_seventh-horizontal{
    display: flex;
    margin: 10px auto;
}
.section_seventh-box{
    align-items: center;
    text-align: center;
    width: 33%;
    height: 240px;
    background-size: cover;
    background-position: center;
    margin: 5px 10px;
    padding: 30px;
    border-radius: 10px;
    transition: 0.5s;
    position: relative;
}
.section_seventh-box::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(8, 6, 5);
    opacity: 0.7;
    transition: 0.3s;
}
.section_seventh-textbox{
    font-size: 25px;
    color: white;
    margin: 20px
}
.section_seventh-textbox2{
    font-size: 15px;
    color: white;
    margin: 10px
}

.section_eighth{
    padding: 80px 140px;
}
.section_eighth-container{
    margin: 10px auto;
}
.section_eighth-horizontal{
    display: flex;  
}
.section_eighth-box1{
    width: 57%;
    margin: 0 10px
}
.section_eighth-text1{
    font-size: 40px;
    color: dark;
    margin:20px 0;
}
.section_eighth-text2{
    font-size: 25px;
    color: dark;
    margin:20px 0;
}
.section_eighth-text3{
    font-size: 16px;
    color: dark;
    margin:15px 0;
}
.section_eighth-text-a{
    color: palevioletred;
    text-decoration: none;
}
.section_eighth-box2{
    width: 42%;
    height: 100%;
    background-color: black;
    border-radius: 10px;
    margin: 0 10px;
    color: white;
    padding: 20px;
}
.section_eighth-button{
    color: white;
    background-color: darkorange;
    border: 1px white solid;
    margin: 10px 46%;
    text-decoration: none;
}

.section_ninth{
    padding: 80px 100px;
    background-color: #e8e6e6;
}
.section_ninth-container{
    margin: 10px auto;
}
.section_ninth-horizontal{
    display: flex;  
}
.section_ninth-box{
    width: 33%;
    margin: 0 30px;
}
.section_ninth-text1{
    font-size: 25px;
    color: darkorange;
    padding: 10px;
}
.section_ninth-text2{
    font-size: 17px;
    color: dark;
    padding: 10px;
}

.section_tenth{
    padding: 80px 140px;
}
.section_tenth-container{
    margin: 10px auto;
}
.section_tenth-horizontal{
    display: flex;  
}
.section_tenth-box1{
    width: 57%;
    margin: 0 10px
}
.section_tenth-text1{
    font-size: 40px;
    color: darkorange;
    margin:20px 0;
}
.section_tenth-text2{
    font-size: 17px;
    color: dark;
    margin:20px 0;
}
.section_tenth-box2{
    width: 53%;
    background-size: cover;
    background-position: center;
    margin: 5px 10px;
    padding: 30px;
}

.section_eleventh{
    padding: 50px;
    background-size: cover;
    background-position: center;
}
.section_eleventh-container{
    padding: 10px 5px;
    align-items: center;
}
.section_eleventh-item-first{
    color: darkorange;
    font-size: 44px;
    text-align: center;
}
.section_eleventh-item-second{
    height: 7px;
    width: 100px;
    background-color: darkorange;
    margin: 20px auto;
}
.section_eleventh-faq{
    color: white;
    font-size: 17px;
    border: 1px white solid;
    margin: 20px;
    padding: 10px 15px;
    transition: 0s;
}
.section_eleventh-faq:hover{
    color: darkorange;
}

.section_twelfth{
    padding: 50px;
}
.section_twelfth-container{
    padding: 20px 0;
}
.section_twelfth-horizontal{
    display: flex;
}
.section_twelfth-box1{
    width: 50%;
    margin: 10px;
}
.section_twelfth-box2{
    width: 50%;
    margin: 10px;
}
.section_twelfth-item-first{
    color: black;
    font-size: 44px;
}
.section_twelfth-ul{
    list-style-image: url(../image/Check_icon.png);
}
.section_twelfth-li{
    color: darkorange;
    font-size: 15px;
    margin-right: 75px;
}

.section_thirteenth{
    padding: 50px;
    background-color: #eee;
}
.section_thirteenth-container{
    margin: 0 80px;
}
.section_thirteenth-item-first{
    color: dark;
    font-size: 44px;
    margin: 10px 0;
    text-align: center;
}
.section_thirteenth-item-second{
    background-size: cover;
    background-position: center;
    height: 120px;
    margin: 20px;
}

/* a Buttons */
a.button {
    background-color: darkorange;
    flex-wrap: wrap;
    padding: 10px 20px;
    font-size: 20px;
    border: 1px white solid;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.3s;
    text-decoration: none;
    text-shadow: none;
}
a.button:hover {
    color: darkorange;
    background-color: white;
    border: 1px darkorange solid;
}

a.header-button{
    background-color: darkorange;
    flex-wrap: wrap;
    padding: 10px 20px;
    width: 160px;
    font-size: 20px;
    border: 1px white solid;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.3s;
    text-decoration: none;
    text-shadow: none;
}
a.header-button:hover {
    color: white;
    background-color: black;
    border: 1px white solid;
}

a.footer{
    color: white;
    text-decoration: none;
    text-shadow: none;
}

/* Animations*/
@keyframes backgroundAnimation {
    from{background-size: 100%;}
    to{background-size: 105%;}
}

*, ::after, ::before {
  box-sizing: border-box;
}
